<!-- <div class="new-ticket-container"> -->
<form id="new-ticket" class="form-container" (ngSubmit)="onSubmit()">
  <p>
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" >
  </p>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" width = "100%"></textarea>
  </div>
 <p>
   <button appbutton >
    Submit
  <span ngProjectAs="icon">
      →
    </span>
  </button>
 </p>
</form>
<!-- </div> -->
